# Django configuration
SECRET_KEY=django-insecure-your-secret-key-here
DEBUG=True

# Bitso API Credentials
BITSO_API_KEY=
BITSO_API_SECRET=
BITSO_USER=
BITSO_PASSWORD=

# GBM API Credentials
GBM_API_KEY=
GBM_API_SECRET=
GBM_USER=
GBM_PASSWORD=

# MercadoPago API Credentials
MP_API_KEY=
MP_API_SECRET=
MP_USER=
MP_PASSWORD=

# Nu API Credentials
NU_API_KEY=
NU_API_SECRET=
NU_USER=
NU_PASSWORD=
